.custom-border {
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  border: 1px solid black;
}

.font-size-25 {
  font-size: 25px;
}

.button-width-75 {
  width: 75%;
}
