<div class="container">
  <div class="row text-center mt-3">
    <h2>Kalkulačka pro výpočet průměru pro zvolené ratingy</h2>
  </div>
</div>
<div class="container mt-3 custom-border">
  <div class="row mb-5 mt-5 text-center">
    <div class="col-4">
      <p-dropdown [options]="ratingOptions" [(ngModel)]="rating" placeholder="Vybrat Rating"></p-dropdown>
    </div>
    <div class="col-4">
      <button pButton type="button" label="Vypočítat" (click)="countSum(rating)" class="button-width-75"></button>
    </div>
    <div class="col-4 font-size-25">
      {{isCounting ? 'počítám' : roundedSum + ',-'}}
    </div>
  </div>
</div>




